@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');


* {
    font-family: 'Archivo', sans-serif;
}

body {
    background-color: #dbdbdb;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-weight: bold !important;
}


input, button {
    border: none;
    outline: none;
}

.row-content {
    margin-top: 1rem;
}